.data-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: #eeeeee;
}

.data-info {
  flex: 1 1 200px;
  height: 200px;
  border-radius: 2px;
  border: 1px solid #777777;
  margin: 5px 10px 5px 10px;
  background-color: #eeeeee;
  padding: 5px 10px 5px 10px;
  color: #222222;
}

.data-loading {
  display: block;
  text-align: center;
  background-color: #eeeeee;
  border: 0;
  font-size: 5rem;
}
