.row.custom-tab {
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.row.custom-tab div {
  width: 100%;
  justify-content: center;
}

.row.custom-tab div .ui.secondary.pointing.menu {
  border-bottom: 0px;
  display: flex;
  justify-content: space-around;
}

.row.custom-tab div .ui.secondary.pointing.menu a.item {
  justify-content: center;
}

.row div.seven.wide.column {
  display: flex;
  justify-content: flex-end;
}

.row div.seven.wide.column div.top-story-picture {
  width: 185px;
  height: 185px;
  background-color: red;
}

div.credit-top-story-space {
  padding-top: 20px;
}

.ui.card > .extra, .ui.cards > .card > .extra, .ui.card > .content {
  border-top: 0px;
}

div.ui.segment.custom-right-top-article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

div.ui.segment.custom-right-top-article div.custom-right-top-item {
  width: inherit;
  word-wrap: break-word;
  align-self: flex-end;
}

div.ui.segment.custom-right-top-article div.custom-right-top-item {
  align-self: flex-start;
}

div.ui.segment.custom-list-container {
  padding: 0;
}

div.ui.segment.custom-list-container div.custom-list {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
}

div.ui.segment.custom-list-container div.custom-list div.custom-list-left-picture {
  justify-content: flex-start;
  height: inherit;
  width: 25%;
  background-color: #e9ebee;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

div.ui.segment.custom-list-container div.custom-list div.custom-list-left-picture img.ui.image {
  width: 100%;
  height: 100%;
}

div.ui.segment.custom-list-container div.custom-list div.custom-list-right {
  display: flex;
  padding: 20px;
  width: inherit;
  height: inherit;
}

div.ui.segment.custom-list-container div.custom-list div.custom-list-right div.custom-list-right-content {
  height: 100%;
  width: 100%;
}

div.ui.segment.custom-list-container div.custom-list div.custom-list-right div.custom-list-right-content p.content-bottom {
  bottom: 0px;
  position: absolute;
  margin-bottom: 20px;
}
