// Top Stories
div.custom-top-stories-container {
    height: 445px;
    // background-color: rgb(23, 83, 194);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    
    div.left {
        justify-content: flex-start;
        // background-color: rgba(0, 128, 0, 0.534);
        width: 61%;
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
        border: 1px solid rgba(34,36,38,.15);
        div.top {
            height: 50%;
            background-color: rgb(194, 201, 212);
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            div.right {
                justify-content: flex-start;
                width: 55%;
                h2 {
                    word-wrap: break-word;
                    margin-bottom: 10px;                    
                }
                p {
                    color: white;
                }
            }
            div.left {
                background: white;
                color: white;
                height: 100%;
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        div.bottom {
            height: 50%;
            // background-color: greenyellow;
            padding: 20px;
        }
    }
    div.right {
        justify-content: flex-end;
        // background-color: grey;
        width: 36%;

        div.custom-right-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            div.top {
                height: 47%;
                // background-color: teal;
                box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
                border: 1px solid rgba(34,36,38,.15);
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                div.bottom-byline {
                    display: inline-block;
                    div.author {
                        color: rgb(176, 178, 178); 
                        float: left;
                        margin-right: 5px;
                    }
                    div.time {
                        color: rgb(13, 48, 104);
                        float: right;
                    }
                }
            }        
            div.bottom-third {
                height: 47%;
                box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
                border: 1px solid rgba(34,36,38,.15);
                padding: 20px;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                div.bottom-byline {
                    display: inline-block;
                    div.author {
                        color: rgb(176, 178, 178); 
                        float: left;
                        margin-right: 5px;
                    }
                    div.time {
                        color: rgb(13, 48, 104);
                        float: right;
                    }
                }                
            }
        }

    }
}

// List of Stories
div.ui.segment.custom-list-container {
   padding: 0;
   div.custom-list {
        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: row;
        div.custom-list-left-picture {
            justify-content: flex-start;
            height: inherit;
            width: 25%;
            background-color: rgb(233, 235, 238);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            img.ui.image {
                width: 100%;
                height: 100%;
            }
        }

        div.custom-list-right {
            display: flex;
            padding: 20px;
            width: inherit;
            height: inherit;
            div.custom-list-right-content {
                height: 100%;
                width: 100%;
                p.content-bottom {
                    bottom: 0px;
                    position: absolute;
                    margin-bottom: 20px;
                }
            }
        }
    } 
}
